"*":
	hidpi:
		scaleFactor: 1.8
	welcome:
		showOnStartup: false
	editor:
		fontSize: 16
		showIndentGuide: true
		showInvisibles: true
	core:
		excludeVcsIgnoredPaths: false
		telemetryConsent: "no"
